body {
    background-color: #242424;
    color: #afafaf;
    background-color: #242424;
    color: #afafaf;
    max-width: 900px;
    margin: auto;
    margin-bottom: 50px;
}


/* todo_list.html (template) */
.todo-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;
  }

  .add-btn {
    position: fixed !important;
    top: 50%;
    left: 5px;



    text-decoration: none;

  }

  .todo-content {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    width: 335px;
    margin: 10px;
    background-color: aliceblue;
    color: darkcyan;
    position: relative;
  }

  .todo-content pre {
    max-height: 100px;
    overflow: auto;
  }

  .todo-content pre::-webkit-scrollbar {
    width: 5px;
  }

  .todo-content pre::-webkit-scrollbar-track {
    background-color: #e0e0e0;
  }

  .todo-content pre::-webkit-scrollbar-thumb {
    background-color: #afafaf;
  }

  .crud-btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
  }

.logo {
    position: fixed;
    left: 0;
    top: 0;
    width: 100px;
    filter: drop-shadow(2px 4px 6px black);
}

.to-do-counter{
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  top: 0;
  background-color: brown;
  padding: 10px;
}

.to-do-counter h3 {
  margin: 0%;
}


/* todo_delete.html */
.delete-container {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  width: max-content;
  margin: 10px;
  background-color: aliceblue;
  color: darkcyan;
  margin: auto;
    margin-top: 50px;
}