{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>Document</title>
  </head>


  <body>

  <img class="logo" src="{% static 'images/todo_list.png' %}" alt="Logo">
    <div class="todo-container">
      {# Renders all todos #} {% for todo in todos %}
      <div class="todo-content">
        <h2>{{ todo.title }}</h2>
        <div>
          <pre style="white-space: break-spaces">{{ todo.description }}</pre>
        </div>
        <p>{{ todo.created_at }}</p>

        {# Update / Delete button container #}
        <div class="crud-btns">
          
          {# 'todo.pk' refers to the primary key of a Todo object / id row in the database. #}
          {# 'url' gererates a url path for the todo_update view and passes the todo.pk/id as an argument #}
          {# For example: /todo/update/1 #}
          <a href="{% url 'todo_update' todo.pk %}">
            <button>Edit</button>
          </a>

          <form action="{% url 'todo_delete' todo.pk %}" method="get">
            {% csrf_token %}
            <button type="submit">Delete</button>
          </form>
        </div>
      </div>

      {% empty %}
      <h3>No todos found.</h3>
      {% endfor %}
    </div>

    <!-- add new item button -->
    <a href="{% url 'todo_create' %}" class="add-btn">Create New Todo</a>
  </body>
</html>
