{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  <title>Document</title>
</head>
<style>
  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    width: 300px;
    margin: auto;
    margin-top: 50px;
  }
</style>
<body>
  <img class="logo" src="{% static 'images/todo_list.png' %}" alt="Logo">
  <form method="post">
    {% csrf_token %}

    {#  This is a Django template tag used to include a Cross-Site Request Forgery (CSRF) token within the form. The CSRF token is a security measure that helps prevent malicious websites from executing unauthorized actions on behalf of the user. #}

    {#  form.as_p will render a form with each field wrapped in a <p> tag. #}
    {#  form.as_div will render a form with each field wrapped in a <div> tag.  #}

    {{ form }}
    <button type="submit">Create</button>
  </form>
  
</body>
</html>