<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }
</style>
<body>
  <form method="post">
    {% csrf_token %}

    {#  form.as_p will render a form with each field wrapped in a <p> tag. #}
    {#  form.as_div will render a form with each field wrapped in a <div> tag.  #}

    {{ form. }}
    <button type="submit">Create</button>
  </form>
  
</body>
</html>