


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
  .add-btn{
    position: absolute;
    bottom: 5px;
    left: 50%;
    background-color: bisque;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    text-decoration: none;
  }
</style>
<body>
  {% for todo in todos %}
  <h2>{{ todo.title }}</h2>
  <p>{{ todo.description }}</p>
  <p>{{ todo.created_at }}</p>
  <a href="{% url 'todo_update' todo.pk %}">Update</a>
  <form action="{% url 'todo_delete' todo.pk %}" method="post">
      {% csrf_token %}
      <button type="submit">Delete</button>
  </form>
  <hr>
{% empty %}
  <p>No todos found.</p>
{% endfor %}
<a href="{% url 'todo_create' %}" class="add-btn">Create New Todo</a>
</body>
</html>